* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg-color-primary: #161b22;
    --bg-color-secondary: #21262d;

    --color-primary: #f0f6fc;
    --color-secondary: #656d76;
    --color-tertiary: #c9d1d9;
}

body {
    background: var(--bg-color-primary);
    color: var(--color-primary);
    font-family: 'DM Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.container {
    max-width: 680px;
    margin: auto;
}

.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 48px;
}

.profile img {
    height: 96px;
    width: 96px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 16px;
}

.profile h1 {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 12px;
}

.profile span {
    display: block;
    color: var(--color-secondary);
}


.social-link {
    margin-top: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-link a {

    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 12px 8px 12px;
}

.social-link svg {
    height: 28px;
    width: 28px;
    fill: var(--color-primary);
    transition: all 0.1s ease;
}

.social-link svg:hover {

    transform: scale(1.2);
}

nav ul {
    margin-top: 30px;
    padding-bottom: 30px;
}

nav ul li {
    margin-bottom: 16px;
    display: block;
}

nav ul li a {
    background: var(--bg-color-secondary);
    color: var(--color-tertiary);
    border-radius: 16px;
    width: 100%;
    min-height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    text-decoration: none;
    padding: 8px;
    transition: all .1s ease;
}

nav ul li a:hover {
    transform: scale(1.03);
}

nav ul li a img {
    height: 43px;
    width: 43px;
    object-fit: cover;
    position: absolute;
    left: 9px;
    top: 9px;
}

footer {
    color: var(--color-secondary);
    display: flex;
    justify-content: center;
    margin-bottom: 39px;
}



footer a {
    color: var(--color-tertiary);
    text-decoration: none;
}

footer a:hover {
    color: var(--color-primary)
}

@media(max-width: 768px) {
    .container {
        width: 90%;
    }
}
